<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<style>   
   
</style>   
</head>    
<body>    
    <div class="login_logo">
        <a href="">
            <img src="../../../assets/img/Logo.svg" alt="" class="img-fluid">
        </a>
    </div>
    <form   routerLink="/main">   
 
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit" (submit)="onSubmitLogin($event) " >Login</button>   
            <input type="checkbox" checked="checked"> Remember me  

             <a href="#">Forgot password? </a>   
        </div>   
    </form>     
</body>     
</html>  