

<!-- Add Customer Modal -->
<div class="modal fade" id="add_task" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div style="background-color: #f78f2d;" class="modal-header" >
                <h4 class="modal-title">Add New Company</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form ng-class="{submitted:form.submitted}" novalidate ng-submit="submit(form)" name="form" class="css-form">
            <!-- Modal body -->
            <div class="modal-body" >

                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" ng-model="newCompany.name" name="name" class="form-control" placeholder="Enter name" required>
                        <div ng-show="form.$submitted || form.name.$touched">
                            <div ng-show="form.name.$error.required" class="invalid-feedback">Please enter name</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Company domain URL</label>
                        <input name="comDomain" ng-model="newCompany.companyDomain" type="text" class="form-control" placeholder="Enter your company domain name">
                    </div>
                    <div class="form-group">
                        <label>Customer type</label>
                        <select name="ct"  class="form-control" ng-model="newCompany.partnerTypeSelect" required>
                            <option value="" selected>Select Type</option>
                            <option value="1">Company</option>
                            <option value="2">Individual</option>
                        </select>
                        <div ng-show="form.$submitted || form.ct.$touched">
                            <div ng-show="form.ct.$error.required" class="invalid-feedback">Please select company type</div>
                        </div>
                    </div>
 
                    <div class="form-group">
                        <label>LinkedIn Page</label>
                        <input ng-model="newCompany.linkedIn" type="text" class="form-control" placeholder="Enter linkedin profile">
                    </div>
                    <div class="form-group">
                        <label>Facebook Page</label>
                        <input ng-model="newCompany.facebookPage" type="text" class="form-control" placeholder="Enter facebook profile">
                    </div>
                    <div class="form-group">
                        <label>Twitter Page</label>
                        <input ng-model="newCompany.twitterPage" type="text" class="form-control" placeholder="Enter twitter profile">
                    </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn Gray_BTN" data-dismiss="modal">Cancel</button>
                <button type="submit"  class="btn btn-primary Orange_BTN">Add</button>
            </div>
            </form>
        </div>
        <!-- Loader -->
        <div class="loader" ng-show="showLoader">
            <div class="loader-bg">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="ml-2">Wait...</div>
            </div>
        </div>
    </div>
</div>
