
.logo {
    /* position: absolute; */
    /*  */
    /* padding: 15px; */
    /* bottom: 50px; */
    /* grid-template-rows: 1fr 20% ; */
}

.sidebar-wrapper {
    display: grid;
    margin: 15px;
        height: 100%;
    grid-template-rows: 20% 60% 20%;
}
/* .sidebar-links{
    padding: 10rem 0px 0px 0px;
} */
.bottom-link-wrapper {
    /* position: absolute;  */
    
        display: grid;
    grid-template-rows: 1fr 1fr;
}

a {
    text-decoration: none;
    color: white;
    opacity: 85%;
    font-size: 25px;

    /* padding: 6px 0px 0px 0px; */

    color: white;

    font-family: Georgia, serif;
    text-decoration: none;
    /* vertical-align: middle; */
    transition-property: background;
    transition-duration:0.5s;
    transition-timing-function: linear;
}
a:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
a:hover {
    border-top-color: #b1b3b5;
    background: #252525;
    /* color: #252525;
    cursor: pointer; */
}
 /* .atag {
    text-decoration: none;
    color: white;
    opacity: 85%;
    font-size: 25px;

 

    color: white;

    font-family: Georgia, serif;
    text-decoration: none;

    transition-property: background;
    transition-duration:0.5s;
    transition-timing-function: linear;
} */
/* .atag:active {
    border-top-color: #1b435e;
    background: #1b435e;
} */
/* .atag:hover {
    border-top-color: #b1b3b5;
    background: #252525;
     color: #252525;
    cursor: pointer; 
}  */
