
<div class="sidebar-wrapper">

<!-- this is to deal wtih a dynamic arrays  
also comment out the css atag! -->
<!--     

    <div
     *ngFor= "let prop of sideBarProps " 
    class="upper-link-wrapper"[innerHTML]= prop 
    [ngClass]="'atag'"
    >
      -->
    <div class="logo">
 
        <a routerLink="/main">
           
            logo
        </a>

    </div>
    
        <div class="sidebar-links ">

            <a routerLink="/tasklist">
                
                <i class="fas fa-list" ></i>
                
            </a>
            
        </div>
    <div class="bottom-link-wrapper">
        <a routerLink="/settings">
            <i class="fas fa-cog" ></i>
      
        </a>
        <a href="/login">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>

</div>