<!-- Add Customer Modal -->
<div class="modal fade" id="add_task">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div style="background-color: #f78f2d;" class="modal-header">
                <h4 class="modal-title">Add Task List</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form (submit)="onSubmit($event)"  name="form"
                class="css-form">
                <!-- Modal body -->
                <div class="modal-body">

                    <div class="form-group">
                        <label>Task Name</label>
                        <input type="text" ng-model="newTask.name" name="name" class="form-control"
                            placeholder="Enter Task name" required>
                        <div ng-show="form.$submitted || form.name.$touched">
                            <div ng-show="form.name.$error.required" class="invalid-feedback">Please enter Task name
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" ng-model="newTask.taskDescription" name="taskDescription" class="form-control"
                            placeholder="Enter task description" required>
                  
               
                    </div>

                    <div class="form-group">
                        <label>Goal</label>
                        <input name="taskGoal" ng-model="newTask.goal" type="text" class="form-control"
                            placeholder="Enter your task Goal" required>
                    </div>
                    <div class="form-group">
                        <label>Result</label>
                        <select name="ct" class="form-control" ng-model="newTask.result" required>
                            <option value="" selected>Select Result</option>
                            <option value="1">true</option>
                            <option value="2">false</option>
                        </select>

                        <div class="form-group">
                            <label>Trigger</label>
                            <input name="taskTrigger" ng-model="newTask.trigger" type="text" class="form-control"
                                placeholder="Enter your task trigger" required>
                        </div>



                        <div ng-show="form.$submitted || form.ct.$touched">
                            <div ng-show="form.ct.$error.required" class="invalid-feedback">Please select company type 
                            </div>
                        </div>
                    </div>

                  

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn Gray_BTN" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary Orange_BTN" >Add</button>
                </div>
            </form>
        </div>
        <!-- Loader -->
        <div class="loader" ng-show="showLoader">
            <div class="loader-bg">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="ml-2">Wait...</div>
            </div>
        </div>
    </div>
</div>