
<h3 class="title">  
    {{pageTitle}}

</h3 >  

<table class="bex-table">
  <thead>
      <tr>
          <th></th>
          <th>Name</th>
          <th>Code</th>
          <th>Active</th>
          <th>Type</th>
      </tr>
  </thead>
  <tbody >


      <tr  class="rows" *ngFor="let item of measurementTypesArray; let i = index;" (click)="onTaskClick(item, i, $event) ">  
        <td >

          <div class="check">
            <div class="checkbox_box">
              <input type="checkbox" id="demo1" hidden>
              <label class="custom_checkbox" for="demo1">
                <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
              </label>
            </div>
          </div>
        </td>
   
        <td>{{item.name}}</td>  
        <td>{{item.code}}</td>  
        <td>{{item.active}}</td>  
        <td>{{item.type}}</td>  
 
        <td >
          <i class="fa fa-trash fa-2x"></i>
      
      </tr>  
 
    </tbody>
  </table>


  <app-modal-fade-measurement-types></app-modal-fade-measurement-types>