<h3 class="title">  
    {{pageTitle}}

</h3 >  

<table class="bex-table">
  <thead>
      <tr>
          <th></th>
          <th>ID</th>
          <th>Action name</th>
          <th>Description</th>
          <th>Goal</th>
          <th>Result</th>
          <th>Trigger</th>
          <th>Time Limit</th>
          <th>assignment</th>
          <th>Score</th>
          <th>Group</th>
          <th>Tags</th>
          <th>Status</th>
          <th>Roles</th>
      </tr>
  </thead>
  <tbody >


      <tr  class="rows" *ngFor="let item of taskListArray; let i = index;" (click)="onTaskClick(item, i, $event) ">  
        <td class="rows">

          <div class="check">
            <div class="checkbox_box">
              <input type="checkbox" id="demo1" hidden>
              <label class="custom_checkbox" for="demo1">
                <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
              </label>
            </div>
          </div>
        </td>
        
        <td>{{item.id}}</td>  
        <td>{{item.actionName}}</td>  
        <td>{{item.description }}</td>  
        <td>{{item.goal}}</td>  
        <td>{{item.result}}</td>  
        <td>{{item.trigger}}</td>  
        <td>{{item.timeLimit}}</td>  
        <td>{{item.assignment}}</td>  
        <td>{{item.score}}</td>  
        <td>{{item.group}}</td>  
        <td>{{item.tags}}</td>  
        <td>{{item.status}}</td>  
        <td>{{item.roles}}</td>  
        <td >
          <i class="fa fa-trash fa-2x"></i>
        </td>
      </tr>  
 
    </tbody>
  </table>


  <app-modal-fade-tasklist></app-modal-fade-tasklist>